@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --background_l: #FFFFFF;
    --background_d: #22343D;
    --text_main_l: #22343D;
    --text_main_d: #FFFFFF;
    --white: #FFFFFF;
    --green: #02897A;
    --green_hover: #02584F;
    --green_2: #EDFFFC;
    --grey: #DEDEDE;
    --grey_2: #AFAFAF;
    --grey_3: #737373;
    --blue: #354F5C;
    --blue_2: #4D8DFF;
    --blue_3: #035B81;
    --purple: #740A76;
    --red: #F03E3D;
    --red_2: #FF0909;
    --orange: #FF9900;
}

body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: var(--background_l);
    color: var(--text_main_l);
}

body.dark_theme {
    background-color: var(--background_d);
    color: var(--text_main_d);
}

body.menu__open {
    overflow-y: hidden;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    color: var(--white);
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    transition: .3s;
}

.btn:hover {
    background-color: var(--green_hover);
}

/* header */

.header__container {
    display: flex;
    align-items: center;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    line-height: 28px;
    font-weight: 700;
    transition: .3s;
}

.logo:hover {
    color: var(--green_hover);
}

body.dark_theme .logo:hover {
    color: var(--grey);
}

.logo__img {
    margin-right: 16px;
}

.header__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__nav_item:not(:last-child) {
    margin-right: 30px;
}

.header__nav_link {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    transition: .2s;
}

.header__nav_link:hover {
    color: var(--green);
}

body.dark_theme .header__nav_link:hover {
    color: var(--grey);
}

.header__sign {
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}

.header__signin {
    width: 102px;
    height: 43px;
    background-color: transparent;
    border: 1px solid var(--green);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: var(--green);
    margin-right: 24px;
    transition: .3s;
}

body.dark_theme .header__signin {
    border: 1px solid var(--white);
    color: var(--white);
}

.header__signin:hover {
    background-color: transparent;
    border: 1px solid var(--green_hover);
    color: var(--green_hover);
}

body.dark_theme .header__signin:hover {
    border: 1px solid var(--grey);
    color: var(--grey);
}

.header__signup {
    width: 110px;
    height: 43px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: var(--white);
}

.header__sitetheme {
    cursor: pointer;
    transition: .3s;
}

.header__sitetheme path {
    color: var(--green);
    transition: .3s;
}

.header__sitetheme:hover path {
    color: var(--green_hover);
}

body.dark_theme .header__sitetheme rect {
    color: var(--green);
}

body.dark_theme .header__sitetheme path {
    color: var(--white);
}

body.dark_theme .header__sitetheme:hover path {
    color: var(--grey);
}

.header__menubtn {
    display: none;
}

/* hero */

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}

.hero__content {
    max-width: 458px;
    margin-right: 30px;
}

.hero__title {
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
}

.hero__desc {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 45px;
}

.hero__btn {
    display: flex;
    align-items: center;
}

.hero__getstarted {
    width: 175px;
    height: 53px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 30px;
}

.hero__watchtheideo {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: var(--green);
    text-decoration: underline;
    transition: .3s;
}

body.dark_theme .hero__watchtheideo{
    color: var(--white);
}

.hero__watchtheideo svg {
    margin-right: 8px;
}

.hero__watchtheideo:hover {
    color: var(--green_hover);
}

body.dark_theme .hero__watchtheideo:hover {
    color: var(--grey);
} 

/* hero */

.benefits {
    background-image: url(../../assets/img/benefits_bg_l.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

body.dark_theme .benefits {
    background-image: url(../../assets/img/benefits_bg_d.png);
}

.benefits__container {
    padding-top: 114px;
    padding-bottom: 90px;
}

.benefits__title {
    max-width: 500px;
    margin: 0 auto 66px auto;
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
}

.benefits__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
    justify-content: space-between;
}

.benefit {
    max-width: 220px;
    flex: 1 1 220px;
}

.benefit__img {
    width: 50px;
    height: 50px;
    border-radius: 19px;
    background-repeat: no-repeat;
    background-position: center center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.benefit__1 .benefit__img {
    background-color: var(--green);
    background-image: url(../../assets/img/benefit__1.svg);
}

.benefit__2 .benefit__img {
    background-color: var(--blue_2);
    background-image: url(../../assets/img/benefit__2.svg);
}

.benefit__3 .benefit__img {
    background-color: var(--purple);
    background-image: url(../../assets/img/benefit__3.svg);
}

.benefit__4 .benefit__img {
    background-color: var(--red);
    background-image: url(../../assets/img/benefit__4.svg);
}

.benefit__title {
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    margin: 30px 0 13px;
}

.benefit__desc {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.benefits__signupnow {
    width: 175px;
    height: 53px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 34px auto 0 auto;
}

/* management */

.management__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
}

.management__content {
    max-width: 466px;
    margin-right: 30px;
}

.management__subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.management__title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    margin-top: 8px;
}

.management__desc {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 23px;
}

.management__subtitle_2 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 30px;
}

.management__text_1 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 12px;
}

.management__subtitle_3 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 25px;
}

.management__text_2 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 12px;
}

/* customersupport */

.customersupport__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
}

.customersupport__content {
    max-width: 450px;
    margin-left: 30px;
}

.customersupport__subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.customersupport__title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    margin-top: 8px;
}

.customersupport__desc {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 23px;
}

.customersupport__text {
    margin-top: 30px;
    padding-left: 65px;
    position: relative;
}

.customersupport__text_1::before {
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 14px;
    background-color: var(--orange);
    background-image: url(../../assets/img/check.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.customersupport__text_2::before {
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 14px;
    background-color: var(--red);
    background-image: url(../../assets/img/check.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.customersupport__text_3::before {
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 14px;
    background-color: var(--blue_2);
    background-image: url(../../assets/img/check.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

/* customersupport */

.collaborative__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
}

.collaborative__content {
    max-width: 466px;
    margin-right: 30px;
}

.collaborative__subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.collaborative__title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    margin-top: 8px;
}

.collaborative__desc {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 23px;
}

.collaborative__subtitle_2 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 30px;
}

.collaborative__text_1 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 12px;
}

.collaborative__subtitle_3 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 25px;
}

.collaborative__text_2 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 12px;
}

/* process */

.process {
    background-image: url(../../assets/img/process_bg_l.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

body.dark_theme .process {
    background-image: url(../../assets/img/process_bg_d.png);
}

.process__container {
    padding-top: 53px;
}

.process__title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
}

.process__desc {
    max-width: 542px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;
    margin: 16px auto 0;
}

.experts__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
}

.experts__item {
    display: flex;
    align-items: center;
}

.experts__item_3,
.experts__item_4 {
    margin-top: 24px;
}

.experts__item_img {
    border-radius: 50%;
}

.experts__item_text {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--text_main_l);
    background-color: var(--white);
    border-radius: 26px;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    padding: 15px 25px;
}

.experts__item_1 .experts__item_text::before {
    position: absolute;
    bottom: -7px;
    left: 32px;
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    background-color: var(--white);
    border-radius: 50%;
}

.experts__item_2 .experts__item_text::before {
    position: absolute;
    bottom: -7px;
    right: 32px;
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    background-color: var(--white);
    border-radius: 50%;
}

.experts__item_3 .experts__item_text::before {
    position: absolute;
    bottom: -7px;
    right: 32px;
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    background-color: var(--white);
    border-radius: 50%;
}

.experts__item_4 .experts__item_text::before {
    position: absolute;
    bottom: -7px;
    left: 32px;
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    background-color: var(--white);
    border-radius: 50%;
}

.experts__item_1 .experts__item_img {
    border: 3px solid var(--red_2);
    background-color: var(--red_2);
    margin-right: 16px;
}

.experts__item_2 .experts__item_img {
    border: 3px solid var(--purple);
    background-color: var(--purple);
    margin-left: 16px;
}

.experts__item_3 .experts__item_img {
    border: 3px solid var(--green);
    background-color: var(--green);
    margin-left: 16px;
}

.experts__item_4 .experts__item_img {
    border: 3px solid var(--blue_3);
    background-color: var(--blue_3);
    margin-right: 16px;
}

.process__btn {
    width: 216px;
    height: 53px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin: 48px auto 0;
}

/* contentsstrategies */

.contentsstrategies__container {
    padding-top: 150px;
}

.contentsstrategies__title {
    font-size: 34px;
    line-height: 51px;
    font-weight: 700;
}

.contentsstrategies__desc {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin-top: 8px;
}

.contentsstrategies__list {
    margin-top: 33px;
}

.contentsstrategies__item {
    border: 1px solid var(--grey);
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 40px;
    height: auto;
}

body.dark_theme .contentsstrategies__item {
    border: 1px solid var(--blue);
}

.contentsstrategies__item_meta {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 24px;
    padding: 0 24px;
}

.contentsstrategies__item_meta span {
    font-weight: 700;
}

.contentsstrategies__item_title {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 12px;
    padding: 0 24px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    justify-content: center;
    margin: 64px auto 0;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: var(--grey);
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0;
    opacity: 1;
    transition: .3s;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
    margin-right: 16px;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: var(--green);
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:hover {
    background-color: var(--green);
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active:hover {
    background-color: var(--green_hover);
}

/* price */

.price__container {
    padding-top: 150px;
}

.price__title {
    font-size: 34px;
    line-height: 51px;
    font-weight: 700;
    text-align: center;
}

.price__desc {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin-top: 8px;
    text-align: center;
}

.price__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.price__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 323px;
    width: 100%;
    flex: 1 1 323px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 24px 32px 32px;
    transition: .3s;
}

.price__item:not(:last-child) {
    margin-right: 33px;
}

.price__item_title {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    transition: .3s;
}

.price__item_desc {
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    margin-top: 8px;
    text-align: center;
    transition: .3s;
}

.price__item_price {
    display: flex;
    margin-top: 16px;
}

.price__item_price_num {
    font-size: 76px;
    line-height: 100px;
    font-weight: 700;
    color: var(--green);
    margin-right: 8px;
    transition: .3s;
}

.price__item_price_cp {
    padding-top: 23px;
}

.price__item_price_cur {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: var(--green);
    transition: .3s;
}

.price__item_price_per {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--grey_2);
    margin-top: 4px;
    transition: .3s;
}

.price__item_text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin-top: 16px;
    text-align: center;
    transition: .3s;
}

.price__item_btn {
    width: 139px;
    height: 44px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    border-radius: 8px;
    margin: 38px auto 0;
}

.price__item:hover {
    background-color: var(--green);
}

.price__item:hover .price__item_title,
.price__item:hover .price__item_desc,
.price__item:hover .price__item_price_num,
.price__item:hover .price__item_price_cur,
.price__item:hover .price__item_text  {
    color: var(--white);
}

.price__item:hover .price__item_price_per {
    color: var(--grey);
}

.price__item:hover .price__item_btn {
    color: var(--green);
    background-color: var(--white);
}

.price__item:hover .price__item_btn:hover {
    color: var(--green_hover);
}

/* clientssay */

.clientssay__container {
    padding-top: 150px;
}

.clientssay__title {
    font-size: 34px;
    line-height: 57px;
    font-weight: 700;
    text-align: center;
}

.clientssay__desc {
    max-width: 537px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    margin: 8px auto 0;
    text-align: center;
}

.clientssay__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.clientssay__item {
    max-width: 327px;
    flex: 1 1 327px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 26px;
}

body.dark_theme .clientssay__item {
    border: 1px solid var(--blue);
}

.clientssay__item:not(:last-child) {
    margin-right: 33px;
}

.clientssay__item_rating {
    width: 107px;
    height: 19px;
    background-image: url(../../assets/img/stars.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.clientssay__item_text {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: var(--grey_3);
    margin-top: 16px;
}

body.dark_theme .clientssay__item_text {
    color: var(--grey);
}

.clientssay__client {
    display: flex;
    margin-top: 16px;
}

.clientssay__client_img {
    background-color: var(--grey_2);
    border: 1px solid var(--grey_2);
    border-radius: 50%;
    margin-right: 14px;
}

.clientssay__client_np {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clientssay__client_name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: var(--green);
}

body.dark_theme .clientssay__client_name {
    color: var(--white);
}

.clientssay__client_prof {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

body.dark_theme .clientssay__client_prof {
    color: var(--grey);
}

/* join */

.join {
    padding: 0 20px;
}

.join__container {
    display: flex;
    justify-content: space-between;
    max-width: 968px;
    background-color: var(--green);
    border-radius: 32px;
    margin-top: 150px;
}

.join__content {
    max-width: 500px;
    padding: 50px 0 0 50px;
    margin-right: 30px;
}

.join__title {
    font-size: 32px;
    line-height: 151%;
    font-weight: 600;
    color: var(--white);
}

.join__btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: var(--green);
    background-color: var(--white);
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.join__btn:hover {
    color: var(--green_hover);
    background-color: var(--white);
}

.join__img_wrapp {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

/* footer */

.footer {
    margin-top: 150px;
}

.footer__container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    padding-bottom: 50px;
}

.footer__social {
    display: flex;
    margin-top: 28px;
}

.footer__social_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--green_2);
    color: var(--green);
    transition: .3s;
}

body.dark_theme .footer__social_link {
    background-color: var(--blue);
    color: var(--white);
}

.footer__social_link:hover {
    color: var(--green_hover);
}

body.dark_theme .footer__social_link:hover {
    color: var(--grey);
}

.footer__social_fb {
    margin: 0 16px;
}

.footer__menu_title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.footer__menu_item {
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    margin-top: 8px;
}

.footer__menu_link {
    transition: .3s;
}

.footer__menu_link:hover {
    color: var(--green);
}

body.dark_theme .footer__menu_link:hover {
    color: var(--grey);
}

.footer__signup {
    max-width: 325px;
}

.footer__signup_title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.footer__signup_form {
    margin-top: 34px;
}

.footer__signup_input {
    width: 100%;
    height: 48px;
    border: 1px solid var(--grey_2);
    border-radius: 4px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    padding: 10px 15px;
    transition: .3s;
}

body.dark_theme .footer__signup_input {
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--text_main_d);
}

.footer__signup_input:hover {
    border: 1px solid var(--green);
}

body.dark_theme .footer__signup_input:hover {
    border: 1px solid var(--grey);
}

.footer__signup_input:focus {
    border: 1px solid var(--green_hover);
}

body.dark_theme .footer__signup_input:focus {
    border: 1px solid var(--green);
}

.footer__signup_input::placeholder {
    color: var(--grey_2);
}

.footer__signup_btn {
    width: 131px;
    height: 39px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 21px;
}

@media (max-width: 991px) {

    /* header */

    .header__nav {
        visibility: hidden;
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 80px);
        flex-direction: column;
        padding: 35px 20px;
        background-color: var(--white);
        z-index: 100;
        transition: .5s;
    }

    body.dark_theme .header__nav {
        background-color: var(--background_d);
    }

    .header__nav.active {
        visibility: visible;
        left: 0;
    }

    .header__menu {
        flex-direction: column;
    }

    .header__nav_item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 35px;
    }

    .header__nav_link {
        font-size: 22px;
    }

    .header__sign {
        flex-direction: column;
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
    }

    .header__signin {
        width: 150px;
        margin-right: 0;
    }

    .header__signup {
        width: 150px;
        margin-top: 35px;
    }

    .header__sitetheme {
        margin-left: auto;
        margin-right: 24px;
    }

    .header__menubtn {
        display: block;
        width: 30px;
        color: var(--text_main_l);
        transition: .3s;
    }

    body.dark_theme .header__menubtn {
        color: var(--text_main_d);
    }

    .header__menubtn:hover {
        color: var(--green);
    }

    body.dark_theme .header__menubtn:hover {
        color: var(--green);
    }

    /* hero */

    .hero__container {
        flex-direction: column;
    }

    .hero__content {
        margin-right: 0;
        text-align: center;
    }

    .hero__btn {
        justify-content: center;
    }

    .hero__img_wrapp {
        margin-top: 50px;
    }

    /* benefits */

    .benefits__list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .benefit {
        justify-self: center;
        text-align: center;
    }

    .benefit__img {
        margin: 0 auto;
    }

    /* management */

    .management__container {
        flex-direction: column;
    }

    .management__content {
        margin-right: 0;
    }

    .management__img_wrapp {
        margin-top: 50px;
    }

    /* customersupport */

    .customersupport__container {
        flex-direction: column-reverse;
    }

    .customersupport__content {
        margin-left: 0;
    }

    .customersupport__img_wrapp {
        margin-top: 50px;
    }

    /* collaborative */

    .collaborative__container {
        flex-direction: column;
    }

    .collaborative__content {
        margin-right: 0;
    }

    .collaborative__img_wrapp {
        margin-top: 50px;
    }

    /* process */

    .experts__list {
        flex-direction: column;
        align-items: center;
    }

    .experts__item_1,
    .experts__item_2 {
        margin-top: 24px;
    }

    .experts__item_3,
    .experts__item_4 {
        flex-direction: row-reverse;
    }

    .experts__item_3 .experts__item_text::before {
        right: unset;
        left: 32px;
    }

    .experts__item_4 .experts__item_text::before {
        left: unset;
        right: 32px;
    }

    .experts__item_3 .experts__item_img {
        margin-left: 0;
        margin-right: 16px;
    }

    .experts__item_4 .experts__item_img {
        margin-left: 16px;
        margin-right: 0;
    }

    /* contentsstrategies */

    .contentsstrategies__item_title {
        font-size: 20px;
    }

    /* price */

    .price__list {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    .price__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 50px;
    }

    /* clientssay */

    .clientssay__list {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    .clientssay__item {
        flex: unset;
    }

    .clientssay__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 50px;
    }

    /* join */

    .join__container {
        flex-direction: column;
    }

    .join__content {
        max-width: unset;
        padding: 50px 50px 0 50px;
        margin-right: 0;
    }

    .join__title {
        text-align: center;
    }

    .join__btn {
        margin: 50px auto 0;
    }

    .join__img_wrapp {
        justify-content: center;
        margin-right: 0;
        padding: 50px 0;
    }

    /* footer */

    .footer__container {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr  1fr;
        gap: 50px;
        text-align: center;
    }

    .footer__ls {
        grid-row: 1/2;
        grid-column: 1/3;
        justify-self: center;
    }

    .footer__social {
        justify-content: center;
    }

    .footer__resource {
        grid-row: 2/3;
        grid-column: 1/2;
        justify-self: flex-end;
        text-align: right;
    }

    .footer__legalstuff {
        grid-row: 2/3;
        grid-column: 2/3;
        justify-self: flex-start;
        text-align: left;
    }

    .footer__signup {
        grid-row: 3/4;
        grid-column: 1/3;
        justify-self: center;
    }

    .footer__signup_input {
        text-align: center;
    }

    .footer__signup_btn {
        margin: 21px auto 0;
    }

}

@media (max-width: 767px) {

    .slide__list {
        max-width: 348px;
    }

}

@media (max-width: 575px) {

    .logo {
        font-size: 22px;
    }

    .hero__title {
        font-size: 32px;
        line-height: 50px;
    }

    .hero__btn {
        justify-content: unset;
        flex-direction: column;
    }

    .hero__getstarted {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .hero__img {
        margin-top: 0;
    }

    .benefits__list {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .benefits__title {
        font-size: 24px;
        line-height: 33px;
    }

    .benefit__title {
        font-size: 19px;
        line-height: 28px;
    }

    .benefits__container {
        padding-top: 50px;
    }

    .management__title,
    .customersupport__title,
    .collaborative__title,
    .process__title,
    .price__title,
    .clientssay__title {
        font-size: 28px;
        line-height: 38px;
    }

    .management__container,
    .customersupport__container,
    .collaborative__container {
        padding-top: 100px;
    }

    .collaborative__container {
        padding-bottom: 100px;
    }

    .price__container,
    .clientssay__container {
        padding-top: 100px;
    }

    .join__container,
    .footer {
        margin-top: 100px;
    }

    .join__content {
        padding: 20px 20px 0 20px;
    }

    .join__title {
        font-size: 22px;
    }

    .footer__container {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
    }
    
    .footer__ls {
        grid-row: unset;
        grid-column: unset;
        justify-self: center;
    }

    .footer__resource {
        grid-row: unset;
        grid-column: unset;
        justify-self: center;
        text-align: center;
    }

    .footer__legalstuff {
        grid-row: unset;
        grid-column: unset;
        justify-self: center;
        text-align: center;
    }

    .footer__signup {
        grid-row: unset;
        grid-column: unset;
        justify-self: center;
    }

}
